

/*                                                     Corpo             */


p {
    font-size: 1.0em;
}






/*                                                    Header*/




header {
    display: flex;
    justify-content: space-between;
}
.iconMenu {
    display: block;
    margin-right: 10px;
    cursor: pointer;
    height: 25px;
    width: auto;
}
.espacoMenu {
    position: fixed;
    top: 0;
    left: -100%; /* Esconde o menu à esquerda */
    width: 100%;
    height: 1500px;
    background-color: var(--corpo);
    transition: left 0.2s ease; /* Adiciona uma transição suave */
}
.espacoMenu.aberto {
    left: 0; /* Mostra o menu */
}
#controle {
    display: flex;
    overflow-y: auto;
    height: calc(100vh - 100px);
    flex-wrap: wrap;
    align-content: flex-start;
}
#controle::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
}
#PIconMenu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}
#iconMenuDois {
    margin: 0px 10px 0px 0px;
}
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--branco);
    padding: 7px;
    padding-left: 0px;
    height: 80px;
}
#logoMenuRetro {
    padding-left: 0px;
}
#cabecalho #secaoImagensDois {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 10px;
}
.itemMenuRetroativo {
    display: flex;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid var(--branco);
    width: 85vw;
    height: 100px;
}
.itemMenuRetroativo a {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--branco);
    margin-left: 0px;
}
.itemMenuRetroativo a:hover {
    color: var(--azul);
}





/*                                                    Primeiro tela             */

#primeiraTela {
    grid-template-columns: repeat(1, 1fr);
}
#primeiraTelaColUm {
    display: grid;
}
#primeiraTelaColUm img {
    display: flex;
    width: 80%;
    justify-self: center;
    padding-bottom: 100px;
}


/*                                                    Personalização             */


#secaoPersonalização {
    grid-template-columns: repeat(1, 1fr);
}
#secPerColUm img {
    display: none;
}
#secaoPersonalização h2 {
    font-size: 2.5em;
}


/*                                                    Planos             */


#secaoPlanos {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0px 20px 0px;
    max-width: 85vw;
}
#planosUm {
    max-width: 80vw;
    padding: 25px 15px;
}
#secaoPlanos h3 {
    font-size: 2em;
}
#planosDois img {
    max-width: 80vw;
}
#secaoPlanos li {
    font-weight: 500;
    font-size: 1em;
}
#botaoUm {
    height: 40px;
    width: 140px;
    font-size: 1em;
    font-weight: 900;
}
#botaoDois {
    height: 40px;
    width: 140px;
    font-size: 1em;
    font-weight: 700;
} 


/*                                                    Comentarios             */



#secaoComentarios {
    grid-template-columns: repeat(1, 1fr);
}
.container {
    justify-self: center;
    width: 90vw;
    max-width: 300px;
    margin-bottom: 30px;
}
.textoCom {
    padding: 30px;
    font-size: 1.1em;
}



/*                                                    Outros             */


#divisaoUm {
    height: 600px;
}
.soMobile {
    display: block;
}
.naoMobile {
    display: none;
}