

/*                                                     Corpo             */




/*                                                    Primeiro tela             */

#primeiraTela {
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
    max-width: 2000px;
    padding-top: 100px;
    height: 500px;
}
#primeiraTelaColUm img {
    width: 80%;
}
#fotoGui {
    display: block;
    margin: auto;
    height: 150px;
    border-radius: 100%;
}
#PIntro {
    text-align: justify;
}
#PIconsPT {
    text-align: center;
    width: 100%;
}
.iconsPT {
    height: 40px;
    border-radius: 5px;
}


/*                                                    Personalização             */

#imgSetas {
    margin-left: 40px;
    height: 100px;
}
#secaoPersonalização {
    display: grid;
    margin: auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
    max-width: 2000px;
}
#secPerColUm img {
    width: 60%;
    padding-left: 50px;
}
#secaoPersonalização h2 {
    font-size: 3em;
}


/*                                                    Planos             */


#secaoPlanos {
    background-color: var(--preto);
    display: grid;
    margin: auto;
    align-items: stretch;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px 0px 50px 0px;
    grid-template-columns: repeat(2, 1fr);
    width: 78.5vw;
    max-width: 2000px;
}
#secaoPlanos h3 {
    margin-top: 0px;
}
#planosUm {
    padding: 50px 30px;
    background-color: var(--corpo);
}
#planosDois {
    background: url(../../imagens/homem-corda.png) no-repeat;
    background-size: cover;
    background-position: center center;
}
#secaoPlanos li {
    color: var(--texto);
    font-weight: 500;
    font-size: 1.3em;
}
#pBotoes {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-content: center;
    flex-wrap: wrap;
}
#botaoUm {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    width: 180px;
    background-color: var(--azul);
    color: var(--preto);
    font-size: 1.2em;
    font-weight: 900;
}
#botaoDois {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid var(--azul);
    height: 50px;
    width: 180px;
    background-color: var(--corpo);
    color: var(--vermelho);
    font-size: 1.2em;
    font-weight: 900;
} 



/*                                                    Outros             */


#divisaoUm {
    height: 200px;
}
#divisaoDois {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--corpo), var(--preto));
}
#divisaoTres {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--preto), var(--corpo));
}
#divisaoQuatro {
    height: 200px;
}
#fundoPreto {
    background-color: var(--preto);
}
#ComQuatro {
    display: none;
}