:root {
    --h1: #ffffff;
    --h2: #06BEC9;
    --h3: #06BEC9;
    --h4: #FBE6AA;
    --h5: #000000;
    --h6: #06BEC9;
    --texto: #F2EFEB;
    --menu: ;
    --corpo: #111111;
    --azul: #06BEC9;
    --preto: #000000;
    --branco: #ffffff;
    --vermelho: #F23838;
    --footer: ;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

body {
    display: block;
    margin: 0px;
    margin: auto;
    background-color: var(--corpo);
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 2000px;
}

/*                                                     Corpo             */

h1 {
    color: var(--h1);
    font-family: "Archivo Black";
    font-size: 5em;
}
h2 {
    color: var(--h2);
    font-family: "Archivo Black";
    font-size: 2.7em;
}
h3 {
    color: var(--h3);
    font-family: "Archivo Black";
    font-size: 2.5em;
}
h4 {
    text-align: center;
    color: var(--h4);
    font-size: 2em;
}
h5 {
    font-family: "Russo one";
    color: var(--h5);
    font-size: 2em;
}
h6 {
    color: var(--h3);
    font-family: "Archivo Black";
    font-size: 1.2em;
}
p {
    line-height: 25px;
    color: var(--texto);
}
a {
    text-decoration: none;
}