

/*                                                     Corpo             */


p {
    font-size: 1.0em;
}



/*                                                    Header*/




header {
    display: flex;
    justify-content: space-between;
}
.iconMenu {
    display: block;
    margin-right: 10px;
    cursor: pointer;
    height: 25px;
    width: auto;
}
header p {
    padding-right: 10px;
}
header img {
    padding-left: 0px;
}
.espacoMenu {
    position: fixed;
    top: 0;
    left: -100%; /* Esconde o menu à esquerda */
    width: 100%;
    height: 1500px;
    background-color: var(--corpo);
    transition: left 0.2s ease; /* Adiciona uma transição suave */
}
.espacoMenu.aberto {
    left: 0; /* Mostra o menu */
}
#controle {
    display: flex;
    overflow-y: auto;
    height: calc(100vh - 100px);
    flex-wrap: wrap;
    align-content: flex-start;
}
#controle::-webkit-scrollbar {
    width: 0px; /* Largura da barra de rolagem */
}
#PIconMenu {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}
#iconMenuDois {
    margin: 0px 10px 0px 0px;
}
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--branco);
    padding: 7px;
    padding-left: 0px;
    height: 80px;
}
#logoMenuRetro {
    padding-left: 0px;
}
#cabecalho #secaoImagensDois {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 10px;
}
.itemMenuRetroativo {
    display: flex;
    align-items: center;
    margin: auto;
    border-bottom: 1px solid var(--branco);
    width: 85vw;
    height: 100px;
    align-content: center;
    flex-wrap: wrap;
}
.itemMenuRetroativo a {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--branco);
    margin-left: 0px;
    padding-bottom: 0px;
}
.itemMenuRetroativo a:hover {
    color: var(--azul);
}


/*                                                    Primeiro tela             */

#telaUm {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
}
#conteinerUm img {
    margin: auto;
    width: 90vw;
    grid-row: 2;
    margin-bottom: 100px;
}
#conteinerUm h2 {
    text-align: center;
    color: var(--branco);
    font-size: 2.5em;
    grid-row: 1;
    margin-bottom: 20px;
}
#conteinerDois {
    display: grid;
    align-content: center;
    grid-template-rows: min-content;
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
}
#conteinerDois span.grade {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid var(--azul);
    border-radius: 3px;
    height: 50px;
    width: 100%;
    margin: 5px 0px 5px 0px;
}
#g2{
    grid-column-end: 21;
}
#g4{
    grid-column-end: 21;
}
#g6{
    grid-column-end: 21;
}
#g8{
    grid-column-end: 21;
}

/*                                                   vantagens             */


.title {
    font-size: 2em;
}
#conteinerVantagens {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.gradeVantagens {
    border-radius: 20px;
    margin: 10px;
    height: 50px;
    width: 100%;
    font-size: 0.95em;
}
#GV1 {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 12;
}
#GV2 {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 8;
}
#GV3 {
    grid-row: 2;
    grid-column-start: 9;
    grid-column-end: 18;
}
#GV4 {
    grid-row: 3;
    grid-column-start: 9;
    grid-column-end: 20;
}


/*                                                   planejamento            */

#sectionPlanejamento {
    width: 90%;
    grid-template-columns: 1fr;
}
#sectionPlanejamento h2 {
    font-size: 2em;
}
#sectionPlanejamento img {
    display: none;
} 
#brPlanejamento {
    display: none;
}
#sectionPlanejamento p {
    text-align: left;
    width: 80vw;
    margin: 0px;
    margin-top: 20px;
}
#artPlanoUm {
    display: none;
}
#artPlanoDois {
    display: block;
    margin-bottom: 50px;
}




/*                                                    Comentarios             */

#secaoComentarios {
    display: none;
}
#tituloCom {
    font-size: 2em;
}
#secaoComentarios {
    grid-template-columns: repeat(1, 1fr);
}
.container {
    justify-self: center;
    grid-template-rows: 350px 220px;
    width: 80vw;
    max-width: 300px;
    margin-bottom: 30px;
}
.textoCom {
    padding: 30px;
    font-size: 1.1em;
}
#ComQuatro {
    display: block;
}



/*                                                    Outros             */



.soMobile {
    display: block;
}
.naoMobile {
    display: none;
}
#comentariosCarousel {
    display: block;
}