/*                                                    Header             */

header p {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin: 0px;
}
header menu a {
    height: 60%;
    padding: 20px 20px 3px 20px;
    margin-left: 40px;
    color: var(--branco);
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease;
    font-size: 1em;
}
/*                                                     Corpo             */




/*                                                    Primeiro tela             */

#telaUm {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 130px;
    margin-bottom: 200px;
}
#conteinerUm img {
    margin: auto;
    width: 65vw;
    grid-row: 2;
    margin-bottom: 100px;
}
#conteinerUm h2 {
    text-align: center;
    color: var(--branco);
    font-size: 3em;
    grid-row: 1;
    margin-bottom: 20px;
}
#g2{
    grid-column-end: 21;
}
#g4{
    grid-column-end: 21;
}
#g6{
    grid-column-end: 21;
}
#g8{
    grid-column-end: 21;
}


/*                                                   vantagens             */


#conteinerVantagens {
    width: 90%;
    margin-top: 50px;
}
.gradeVantagens {
    border-radius: 30px;
    margin: 10px;
    height: 70px;
    width: 100%;
    font-size: 1.3em;
}
#GV2 {
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 8;
}
#GV3 {
    grid-row: 2;
    grid-column-start: 9;
    grid-column-end: 18;
}


/*                                                   planejamento            */

#sectionPlanejamento {
    width: 90%;
    grid-template-columns: 40% 15% 45%;
}
#sectionPlanejamento img {
    height: 80%;
    padding-top: 20%;
} 
#artPlanoUm h6 {
    margin-top: 50px;
}
#sectionPlanejamento ul {
    line-height: 35px;
    font-size: 1em;
}
#sectionPlanejamento p {
    line-height: 35px;
    font-size: 1em;
}
#conteinerPlanejamentoDois {
    align-content: flex-start;
}

@media screen and (max-width: 850px) {
    #sectionPlanejamento {
        width: 90%;
        grid-template-columns: 1fr;
    }
    #sectionPlanejamento img {
        display: none;
    } 
    #brPlanejamento {
        display: none;
    }
    #sectionPlanejamento p {
        text-align: left;
        width: 80vw;
        margin: 0px;
        margin-top: 50px;
    }
    #artPlanoUm {
        display: none;
    }
    #artPlanoDois {
        display: block;
        margin-bottom: 50px;
    }
    #artPlanoDois h6 {
        margin-top: 40px;
    }
}


/*                                                  eletroestimulacao            */

#eletroestimulacao {
    margin: auto;
    width: 80%;
    grid-template-columns: 1fr;
    margin-top: 50px;
    margin-bottom: 150px;
}
#eletroestimulacao h2 {
    margin-bottom: 70px;
}
#eletroestimulacao h3 {
    font-size: 1.2em;
}
#eletroestimulacao img {
    height: 200px;
}
#eletroestimulacao .carousel-inner {
    display: grid;
}


/*                                                    Comentarios             */


#secaoComentarios {
    display: none;
}
#tituloCom {
    font-size: 2em;
}
#secaoComentarios {
    grid-template-columns: repeat(1, 1fr);
}
.container, .container1 {
    justify-self: center;
    grid-template-rows: 350px 220px;
    width: 80vw;
    max-width: 300px;
    margin-bottom: 30px;
}
.textoCom {
    padding: 30px;
    font-size: 1.1em;
}
#ComQuatro {
    display: block;
}
#comentariosCarousel {
    display: block;
}

/*                                                Rodapé             */

footer {
    margin-top: 50px;
}
footer h2 {
    margin-top: 60px;
}
